@import url( 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "reset";
*{
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  // background: purple;
}

h1 {
  font-weight: 100;
  font-size: 50px;
}

.blue-bg {
  background-color: blue;
  overflow: auto;
  height: 100%;
}
.danger-red {
  background-color: red !important!;
.user-info {
  width: 50%;
  float:left;
}
